@font-face {
    font-family: "Renogare";
    src:
    url("https://everestapi.github.io/fonts/Renogare-Regular.woff") format("woff"),
    url("https://everestapi.github.io/fonts/Renogare-Regular.otf") format("opentype");
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    line-height: 1.75em;
}

body {
    overflow: hidden;
}

.hidden {
    display: none;
}


/* netdata is pain */

html, body {
    background: #eeeeee;
}
html, body, #body {
    color: rgba(0, 0, 0, 0.87);
    font-family: 'Poppins', sans-serif;
}

#status-graphs .netdata-container {
    overflow: visible;
}
#status-graphs .netdata-chart {
    overflow: visible;
}
#status-graphs .dygraph-label.dygraph-title {
    line-height: 20px;
}
#status-graphs .netdata-legend-value {
    background: none;
}
#status-graphs .netdata-legend-toolbox-button {
    background: none;
}
#status-graphs .netdata-legend-resize-handler {
    display: none;
}
#status-graphs .netdata-dygraph-chart-with-legend-right > div:nth-child(1) > div .dygraph-axis-label-x {
    margin-top: -4px;
}
#status-graphs .netdata-legend-toolbox {
    display: none;
}
#status-graphs .netdata-chart-legend {
    overflow: visible;
}
#status-graphs .netdata-legend-series {
    height: calc(100% - 24px);
}
#status-graphs [data-netdata$=".uptime"] .netdata-dygraph-chart-with-legend-right > div:nth-child(1) > div .dygraph-axis-label-y {
    display: none;
}
#status-graphs span.easyPieChartLabel {
    color: white;
}
#status-graphs div.dygraph-axis-label {
    color: white;
}


#background {
    animation: bg-in 1s 0s forwards ease-out;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color:#1f0319;
    background-image: url("./background.png");
    background-size: cover;
}

#cogwheel {
    animation: cogwheel-spin 20s infinite linear;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 900px;
    max-width: calc(min(50vw, 50vh));
    height: 900px;
    max-height: calc(min(50vw, 50vh));
    background: url("./cogwheel.png");
    background-size: 100%;
    pointer-events: none;
    opacity: 0.4;
}

#body {
    position: absolute;
    box-sizing: border-box;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 32px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 10;
}

#front {
    position: relative;
    height: calc(min(50vw, 50vh));
    min-height: 600px;
    margin: -32px -32px 32px -32px;
}

#front-clips-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#front-clips-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(max(100vw, 100vh));
    height: calc(max(100vw, 100vh));
    min-width: 1600px;
    min-height: 900px;
    transform: translate(-50%, -50%);
    background: black;
    pointer-events: none;
    z-index: -1;
}
#front-clips-video.disabled {
    display: none;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    min-width: 0;
    min-height: 0;
    transform: none;
}

#front-clips-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    pointer-events: none;
    z-index: -1;
}

#front-dim {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(18, 4, 31, 0.6);
}

#front-logo {
    position: absolute;
    top: calc(50% - 96px);
    left: 50%;
    width: 50%;
    height: 50%;
    max-width: calc(2197px / 4);
    max-height: calc(428px / 4);
    transform: translate(-50%, -50%);
    background: url(./header.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: drop-shadow(0 0 16px rgba(15, 0, 34, 0.8));
}

#front-text {
    position: relative;
    top: calc(50%);
    width: fit-content;
    margin: 0 auto;
    color: white;
}

#main  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    gap: 48px;
}

#content {
    flex: 2 1;
}

#sidebar {
    flex: 1 0;
    min-width: 300px;
    display: flex;
    flex-direction: column;
}

#sidebar > *, #content > * {
    margin-bottom: 48px;
}

#status {
    flex-shrink: 1;
}

.note {
    border-left: 2px solid rgba(90, 41, 136, 0.7);
    border-radius: 3px;
    padding: 8px 16px;
}

a, a:visited {
    transition: color 0.2s, text-decoration-color 0.2s, text-shadow 0.2s, border-bottom 0.2s;
    color: rgba(0, 121, 235, 0.94);
    text-decoration-color: rgba(35, 141, 240, 0.87);
    text-shadow: 0 0 0 rgba(150, 230, 255, 0);
    font-weight: 500;
    position: relative;
    border-color: none;
}
a:hover, a:focus, a:active {
    color: rgba(52, 157, 255, 0.94);
    text-decoration-color: rgba(0, 132, 255, 0.94);
    text-shadow: 0 0 8px rgba(3, 31, 39, 0.2);
}

#front-text a, #front-text  a:visited {
    color: rgba(107, 216, 250, 0.87);
    text-decoration-color: rgba(107, 216, 250, 0.87);
}
#front-text  a:hover, #front-text  a:focus, #front-text  a:active {
    color: rgba(0, 162, 211, 0.94);
    text-decoration-color: rgba(0, 162, 211, 0.94);
    text-shadow: 0 0 16px rgba(20, 98, 119, 0.4);
}

a.button, a.button:visited {
    transition: background-color 0.2s, box-shadow 0.2s;
    color: rgba(255, 255, 255, 0.9);
    text-decoration-color: transparent;
    box-shadow: 0px 1px 7px rgba(31, 5, 43, 0.3), -0.5px -1px 6px rgba(209, 185, 255, 0.1), -1px -2px 5px rgba(217, 186, 231, 0.02);
    background: #4f1f5c;
    border-radius: 3px;
    padding: 8px;
    display: inline-block;
    cursor: pointer;
    z-index: 1;
    text-shadow: none;
    margin-bottom: 8px;
}
a.button:hover, a.button:focus, a.button:active {
    background: #8c5ba0;
    text-decoration-color: transparent;
    box-shadow: 0 1px 16px rgba(31, 5, 43, 0.5), -1px -1px 7px rgba(255, 255, 255, 0.09), 1px 2px 7px rgba(230, 176, 255, 0.05) inset;
    z-index: 2;
    text-shadow: none;
}

#toplist {
    position: relative;
    display: flex;
    top: calc(50% + 32px);
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
    width: fit-content;
    z-index: 2;
    flex-direction: row;
    flex-wrap: wrap;
}

#toplist > li {
    display: block;
    width: 280px;
    height: 64px;
    margin: 8px;
}

#toplist > * > a.button {
    padding: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
}

#userpanel > * > a.button {
    width: calc(100% - 16px);
    text-align: center;
}

.toplink-icon {
    position: relative;
    width: 32px;
    height: 32px;
    margin: 16px;
    float: left;
    background-size: cover;
}

.toplink-text {
    position: absolute;
    left: 32px;
    right: 0;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 64px;
}

.button-text {
    text-align: center;
}

.button-icon {
    position: relative;
    width: 24px;
    height: 24px;
    margin: 0 4px -8px 4px;
    float: left;
    background-size: cover;
}

#sidebar > *, #content > * {
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    padding: 16px;
}

#sidebar > * {
    background: #0c090f;
    color: #ffffff;
}

#content > * {
    background: #f1ebf7;
    color: #000000;
}

#online-count {
    margin-top: 0;
}

#online-list > li {
    list-style: none;
    font-family: Renogare, sans-serif;
}

.online-icon {
    display: inline-block;
    position: relative;
    width: 24px;
    height: 24px;
    margin: 0 8px -6px 0;
    background-size: cover;
}

#toplink-auto .toplink-icon {
    background-image: url("./everest.png");
}
#toplink-manual .toplink-icon {
    background-image: url("./download.png");
}
#toplink-discord .toplink-icon {
    background-image: url("./ext_discord.png");
}
#button-auth .button-icon {
    background-image: url("./link.png");
}
#button-reauth .button-icon {
    background-image: url("./refresh.png");
}
#button-copykey .button-icon {
    background-image: url("./copy.png");
}
#button-sendkey .button-icon {
    background-image: url("./sync.png");
}
#button-revokekey .button-icon {
    background-image: url("./lock.png");
}

.censor .censor-content {
    transition: filter 0.2s;
    filter: blur(8px);
}
.censor:hover .censor-content {
    filter: blur(0px);
}

.discord-avatar {
    border-radius: 100%;
    float: right;
}

#footer {
    position: relative;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.7);
    background: #eeeeee;
    border-radius: 3px;
    z-index: 100;
    margin: 32px 0 0 auto;
    width: fit-content;
    padding: 8px 16px 16px 16px;
    text-align: center;
}

#baked {
    text-align: center;
    padding-bottom: 24px;
}

.berry {
    position: relative;
    top: 0.5em;
}

.haha {
    float: left;
    height: 32px;
    padding: 8px 16px 8px 0;
}

.thinking {
    float: left;
    height: 32px;
    padding: 8px 16px 8px 0;
}


#dim, #dialog {
    opacity: 0;
    transition: opacity 0.2s;
    pointer-events: none;
}

#dim.loading, #dialog.loading {
    transition: none;
    display: none;
}

#dim.active, #dialog.active {
    opacity: 1;
    pointer-events: all;
}

#dim {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(31, 3, 25, 0.7);
}

#dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 300px;
    margin: auto;
    background: #0e0024;
    box-shadow: 0 0 48px rgba(0, 0, 0, 0.7);
    border-radius: 3px;
    padding: 16px;
}

#dialog-close {
    text-align: center;
    width: calc(100% - 16px);
}

@media only screen and (max-width: calc(280px * 2 + 64px)) {
    #toplist {
        width: 280px;
    }
}


@keyframes bg-in {
    0% {
        opacity: 0.96;
        transform: scale(1.16);
    }
    100% {
        opacity: 1;
        transform: scale(1.21);
    }
}

@keyframes cogwheel-spin {
    0% {
        transform: translate(12%, 40%) rotate(0);
    }
    100% {
        transform: translate(12%, 40%) rotate(360deg);
    }
}

body > div:last-of-type, #dummy {
    display: none !important;
    position: absolute !important;
    width: 0 !important;
    height: 0 !important;
    opacity: 0 !important;
    overflow: hidden !important;
}
