@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap");

@font-face {
    font-family: "Renogare";
    src:
    url("https://everestapi.github.io/fonts/Renogare-Regular.woff") format("woff"),
    url("https://everestapi.github.io/fonts/Renogare-Regular.otf") format("opentype");
}

:root {
    --mdc-theme-primary: #000000;
}
.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-text-field__input::placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.mdc-button.mdc-snackbar__action:empty {
    display: none;
}

.mdc-menu-surface--animating-open {
    /* Someone at Google screwed the animation up. */
    opacity: 1 !important;
    transform: scale(1) !important;
}

.mdc-dialog__scrim {
    backdrop-filter: blur(0);
}

.mdc-dialog--open .mdc-dialog__scrim {
    backdrop-filter: blur(8px);
}

a, a:visited {
    transition: color 0.2s, text-decoration-color 0.2s, text-shadow 0.2s, border-bottom 0.2s;
    color: rgba(0, 0, 0, 0.75);
    text-decoration-color: rgba(0, 0, 0, 0.75);
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    font-weight: 500;
    position: relative;
    display: inline-block;
    outline: none;
}
a:hover, a:focus, a:active {
    color: rgba(0, 0, 0, 0.87);
    text-decoration-color: rgba(0, 0, 0, 0.87);
    text-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
}

#logo {
    height: 48px;
    margin-right: 16px;
    transform: translateY(4px);
}
.desktop #logo {
    height: 32px;
    margin-right: 8px;
}

.dropdown-content {
    /* Materialize screws up its own dropdown sizing. */
    width: auto !important;
    height: auto !important;
}
nav .dropdown-content {
    top: 64px !important;
}
nav button.mdc-button {
    color: white;
}

.desktop .mdc-list-item {
    height: auto;
    padding-top: 8px;
    padding-bottom: 8px;
}

.material-icons:empty {
    display: none;
}

.mdc-menu .mdc-list-item .material-icons {
    margin-right: 0.5em;
}
.desktop .mdc-list-item .material-icons {
    margin-right: 0.25em;
    font-size: 24px;
    line-height: 0;
    transform: translateY(6px);
}
.desktop .mdc-list-item img.icon {
    height: 24px;
    max-width: 24px;
    image-rendering: pixelated;
    float: left;
    margin-right: 0.5em;
}
.mdc-top-app-bar .mdc-menu {
    margin-top: 32px;
}
.desktop .mdc-top-app-bar .mdc-menu {
    margin-top: 24px;
}

.mdc-ripple-upgraded.focused::before,
.mdc-ripple-upgraded[data-focused]::before {
    opacity: 0.12 !important;
}

body {
    /* background: #3b2d4a; */
    background: #e5e4e6;
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: rgba(0, 0, 0, 0.87);
    font-size: 16px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none !important;
}

/* #splash inlined */
#splash.hidden {
    display: block !important;
    pointer-events: none;
    animation: appintro-splash /*0.*/0.5s /*0.*/0.0s 1 ease-in-out forwards;
}

@keyframes appintro-splash {
    0%   { transform: translateY(0); background-color: rgba(59, 45, 74, 1); box-shadow: 0 0 32px 16px rgba(59, 45, 74, 1); }
    100% { transform: translateY(calc(-100vh - 128px)); background-color: rgba(59, 45, 74, 0); box-shadow: 0 0 32px 16px rgba(59, 45, 74, 0); }
}

header.mdc-top-app-bar {
    flex-grow: 1;
    /* background-color: #3b2d4a; */
    /* background-color: #2b2631; */
    background-color: rgba(54, 0, 126, 0.8);
    backdrop-filter: blur(8px);
    position: relative;
    box-shadow: 0 0 16px rgba(26, 10, 44, 0.9);
    --mdc-theme-primary: #ffffff;
    position: sticky;
    top: 0;
}
.desktop header.mdc-top-app-bar .mdc-top-app-bar__row {
    height: 64px;
}

.tooltip {
    transition: transform 0.1s, opacity 0.1s, box-shadow 0.1s;
    z-index: 6;
    position: fixed;
    padding: 8px;
    background: rgba(63, 63, 63, 0.95);
    color: white;
    font-size: 14px;
    border-radius: 3px;
    transform: translate(-50%, 0) scale(0.7);
    transform-origin: 50% 100%;
    opacity: 0;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
    pointer-events: none;
}
.tooltip.visible {
    transform: translate(-50%, 0) scale(1);
    opacity: 1;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
}

.tooltip[data-tooltip-dir="down"] {
    transform-origin: 50% 0%;
}

main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100vw;
    min-height: calc(100vh - 64px);
}

.mdc-dialog__title+.mdc-dialog__content {
    padding-bottom: 0;
}

.settings-group,
.settings-group .title,
.settings-group .row,
.settings-group .row .label,
.settings-group .row .body {
    display: block;
}
.settings-group {
    padding: 0;
    margin: 0 0 16px 0;
}
.settings-group .row {
    margin: 0 0 8px 0;
}
.settings-group .row .body,
.settings-group .row .body .mdc-text-field {
    width: 100%;
}
.settings-group .row {
    clear: both;
}

.panel {
    flex-grow: 1;
    background-color: #f3f3f3;
    box-shadow: 0 0 16px 2px rgba(16, 9, 24, 0.4);
    padding: 32px;
    margin: 16px;
    border-radius: 3px;
    max-height: calc(100vh - 64px - 200px);
    min-height: 400px;
    max-width: calc(100% - 32px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.panel > h2 {
    position: relative;
}
.panel > h2 > .actions {
    position: absolute;
    top: -4px;
    right: 0;
}

.panel .mdc-linear-progress {
    flex: 0 0 auto;
}

.panel-list {
    overflow: auto;
}

.panel-list .mdc-list-item__text {
    white-space: initial;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.panel-status {
    min-width: ;width: 300px;
}

.panel-cmd,
.panel-chat,
.panel-notes {
    min-width: 400px;
}
.panel-cmd > .panel-list,
.panel-chat > .panel-list,
.panel-notes > .panel-text {
    flex-grow: 1;
}
.panel-cmd li.mdc-list-item,
.panel-chat li.mdc-list-item {
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    cursor: text !important;
}
.panel-cmd li.mdc-list-item {
    font-family: "Fira Code", monospace;
    font-size: 11px;
}
.panel-cmd > .panel-input > .mdc-text-field,
.panel-chat > .panel-input > .mdc-text-field {
    width: 100%;
}
.panel-notes > .panel-text > .mdc-text-field,
.panel-notes > .panel-text > .mdc-text-field > .mdc-text-field__resizer,
.panel-notes > .panel-text > .mdc-text-field > .mdc-text-field__resizer > textarea {
    width: 100%;
    height: 100%;
    resize: none;
}

.dialog-fullscreen.mdc-dialog .mdc-dialog__surface {
    width: calc(100vw - 64px);
    height: calc(100vh - 64px);
    max-width: none;
    max-height: none;
}
