#foreground {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    backface-visibility: hidden;
    z-index: 10000;
    animation: foreground 0.3s 0.0s 1 ease-in-out forwards;
}

#overlay-wrap {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    mix-blend-mode: hard-light;
    opacity: 0.13;
    filter: blur(16px);
    z-index: 10000;
}

#overlay {
    background: url(./overlay.png);
    animation: overlay linear 40s 0s forwards infinite;
    position: absolute;
    top: 0;
    left: 0;
    width: 200vw;
    height: 200vw;
    background-size: 100vw;
    background-position: 0 0;
}

#noisefg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url(./noisefg.png);
    background-repeat: repeat;
    background-size: 256px;
    z-index: 100;
    pointer-events: none;
    opacity: 0.03;
    animation: noisemove 1s forwards infinite linear;
    mix-blend-mode: screen;
    z-index: 10001;
}

@keyframes foreground {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes overlay {
    0% {
        transform: translate(-50%, -50%);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes noisemove {
    0% {
        background-position-x: -3357px;
        background-position-y: -4489px;
    }

    100% {
        background-position-x: 3231px;
        background-position-y: 5821px;
    }
}

@media screen and (orientation: portrait) {
    #overlay {
        width: 200vh;
        height: 200vh;
        background-size: 100vh;
    }
}

