#foreground {
    pointer-events: none;
    backface-visibility: hidden;
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#overlay-wrap {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0.05;
    /* filter: blur(16px); */ /* Thanks, Chromium?! */
    z-index: 10000;
}

#overlay {
    background: url(./overlay.png);
    animation: overlay linear 40s 0s forwards infinite;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: 77vw;
    background-position: 20vh 10vh;
    background-repeat: repeat;
}

#noisefg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url(./noisefg.png);
    background-repeat: repeat;
    background-size: 256px;
    z-index: 100;
    pointer-events: none;
    opacity: 0.03;
    z-index: 10001;
}

@media screen and (orientation: portrait) {
    #overlay {
        background-size: 77vh;
    }
}

